{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_bottom %}
    {{ parent() }}

    <h1>Check me out I'm custom!</h1>

    {% if footer.hasExtension('physicalShops') %}
        <ul class="physical-shop__list" style="display:grid; gap: 10px">
            {% for shop in footer.getExtension('physicalShops') %}
                <li class="physical_shop__item" style="list-style:none">
                    <strong class="physical-shop__item title">{{ shop.name }}</strong>
                    <ul class="physical-shop__item address">
                        {% for name, value in shop.streetAddress %}
                            <ul class="physical-shop__street-address">
                                {% if name and value %}
                                    <strong>{{ name }}</strong>
                                    {{value}}
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </ul>
                    <p class="physical-shop__item country"><strong>Country:</strong>{{ shop.country }}</p>
                    <p class="physical-shop__item email"><strong>Email:</strong>{{ shop.email }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
